<h1>Welcome to DevPoint High School's Virtual Lunch Lady</h1>

<%= form_for(@meal) do |f| %>
	<h2>Please select a main dish</h2>
	<section>
		<% @meal.main_dishes.each do |dish, attr_hash| %>
			<%= f.radio_button :main_dish, "#{dish}" %>
			<%= f.label dish %>
			<div>
				<%= @meal.main_dishes[dish][:description] %>
			</div>
			<div>
				<ul>
					<li>Calories: <%= @meal.main_dishes[dish][:calories] %></li>
					<li>Carbs: <%= @meal.main_dishes[dish][:carbs] %>g </li>
					<li>Protein: <%= @meal.main_dishes[dish][:protein] %>g </li>
					<li>Fat: <%= @meal.main_dishes[dish][:fat] %>g </li>
					<li>Suagar: <%= @meal.main_dishes[dish][:sugar] %>g </li>
				</ul>
				<h4>$<%= @meal.main_dishes[dish][:price] %></h4>
			</div>
		<% end %>
	</section>
	<h2>Please select your first side dish</h2>
	<section>
		<% @meal.side_dishes.each do |side, attr_hash| %>
			<%= f.radio_button :side_dish_1, "#{side}" %>
			<%= f.label side %>
			<div>
				<%= @meal.side_dishes[side][:description] %>
			</div>
			<div>
				<ul>
					<li>Calories: <%= @meal.side_dishes[side][:calories] %></li>
					<li>Carbs: <%= @meal.side_dishes[side][:carbs] %>g </li>
					<li>Protein: <%= @meal.side_dishes[side][:protein] %>g </li>
					<li>Fat: <%= @meal.side_dishes[side][:fat] %>g </li>
					<li>Suagar: <%= @meal.side_dishes[side][:sugar] %>g </li>
				</ul>
				<h4>$<%= @meal.side_dishes[side][:price] %></h4>
			</div>
		<% end %>
	</section>
	<h2>Please select your second side dish</h2>
	<section>
		<% @meal.side_dishes.each do |side, attr_hash| %>
			<%= f.radio_button :side_dish_2, "#{side}" %>
			<%= f.label side %>
			<div>
				<%= @meal.side_dishes[side][:description] %>
			</div>
			<div>
				<ul>
					<li>Calories: <%= @meal.side_dishes[side][:calories] %></li>
					<li>Carbs: <%= @meal.side_dishes[side][:carbs] %>g </li>
					<li>Protein: <%= @meal.side_dishes[side][:protein] %>g </li>
					<li>Fat: <%= @meal.side_dishes[side][:fat] %>g </li>
					<li>Suagar: <%= @meal.side_dishes[side][:sugar] %>g </li>
				</ul>
				<h4>$<%= @meal.side_dishes[side][:price] %></h4>
			</div>
		<% end %>
	</section>
	<%= f.submit 'Submit' %>
<% end %>