<header>
	<h1>Welcome to DevPoint High School's Virtual Lunch Lady</h1>
</header>
<h2 id="wallet">You have $<%= @meal.wallet %> to spend</h2>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<%= form_for(@meal) do |f| %>
	<%= f.hidden_field :wallet, value: @meal.wallet %>
	<section>
		<h2>Please select a main dish</h2>
		<% Meal.main_dishes.each do |dish, attr_hash| %>
			<div class="choice">
				<%= f.radio_button :main_dish, "#{dish}" %>
				<%= f.label dish %>
				<div>
					<%= Meal.main_dishes[dish][:description] %>
				</div>
				<div>
					<ul>
						<li>Calories: <%= Meal.main_dishes[dish][:calories] %></li>
						<li>Carbs: <%= Meal.main_dishes[dish][:carbs] %>g </li>
						<li>Protein: <%= Meal.main_dishes[dish][:protein] %>g </li>
						<li>Fat: <%= Meal.main_dishes[dish][:fat] %>g </li>
						<li>Suagar: <%= Meal.main_dishes[dish][:sugar] %>g </li>
					</ul>
					<h4>$<%= Meal.main_dishes[dish][:price] %></h4>
				</div>
			</div>
		<% end %>
	</section>
	<section>
		<h2>Please select your first side dish</h2>
		<% Meal.side_dishes.each do |side, attr_hash| %>
			<div class="choice">
				<%= f.radio_button :side_dish_1, "#{side}" %>
				<%= f.label side %>
				<div>
					<%= Meal.side_dishes[side][:description] %>
				</div>
				<div>
					<ul>
						<li>Calories: <%= Meal.side_dishes[side][:calories] %></li>
						<li>Carbs: <%= Meal.side_dishes[side][:carbs] %>g </li>
						<li>Protein: <%= Meal.side_dishes[side][:protein] %>g </li>
						<li>Fat: <%= Meal.side_dishes[side][:fat] %>g </li>
						<li>Suagar: <%= Meal.side_dishes[side][:sugar] %>g </li>
					</ul>
					<h4>$<%=Meal.side_dishes[side][:price] %></h4>
				</div>
			</div>
		<% end %>
	</section>
	<section>
		<h2>Please select your second side dish</h2>
		<% Meal.side_dishes.each do |side, attr_hash| %>
			<div class="choice">
				<%= f.radio_button :side_dish_2, "#{side}" %>
				<%= f.label side %>
				<div>
					<%=Meal.side_dishes[side][:description] %>
				</div>
				<div>
					<ul>
						<li>Calories: <%=Meal.side_dishes[side][:calories] %></li>
						<li>Carbs: <%=Meal.side_dishes[side][:carbs] %>g </li>
						<li>Protein: <%=Meal.side_dishes[side][:protein] %>g </li>
						<li>Fat: <%=Meal.side_dishes[side][:fat] %>g </li>
						<li>Suagar: <%=Meal.side_dishes[side][:sugar] %>g </li>
					</ul>
					<h4>$<%=Meal.side_dishes[side][:price] %></h4>
				</div>
			</div>
		<% end %>
	</section>
	<section>
		<h2>Select any add ons you desire</h2>
		<%= f.fields_for :add_ons, Meal.add_ons do |n| %>
			<% Meal.add_ons.each do |a, attr_hash| %>
				<div class="choice add-ons"
					<%= n.check_box a %>
					<%= n.label a %>
					<div>
						<ul>
							<li>Calories: <%= Meal.add_ons[a][:calories] %></li>
							<li>Carbs: <%= Meal.add_ons[a][:carbs] %>g </li>
							<li>Protein: <%= Meal.add_ons[a][:protein] %>g </li>
							<li>Fat: <%= Meal.add_ons[a][:fat] %>g </li>
							<li>Suagar: <%= Meal.add_ons[a][:sugar] %>g </li>
						</ul>
						<h4>$<%= Meal.add_ons[a][:price] %></h4>
					</div>
				</div>
			<% end %>
		<% end %>
	</section>
	<div class="submit">
		<%= f.submit 'Submit', class: "btn"%>
	</div>
<% end %>